<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Скачай список покупок | Foodgram </title>
</head>

<div class="main__header">
    <h1 class="main__title">Список покупок</h1>
</div>
<div class="card-list card-list_column">
    <ul class="shopping-list">
        {% for post in ingreds %}
        <li class="shopping-list__item">
            <div class="recipe recipe_reverse">
                <h3 class="recipe__title">{{ post.ingredients__title }} - {{ post.total_quantity }} {{ post.ingredients__unit }}</h3>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>