{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="custom-center-block">
            <p class="custom-text-block">Python<br/>
                Django<br/>
                Django REST<br/>
                Docker<br/>
                Docker-container<br/>
                NGINX<br/>
                PostgreSQL<br/>
        <div class="custom-button-block">
            <a class="button button_style_blue" href="{% url 'index' %}">Перейти на главную</a>
        </div>
    </div>


    {% endblock content %}
